<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Họ và tên</label>
                        <input  ng-model="order.idUser" class="form-control" type="text" placeholder="Họ tên">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Số điện thoại</label>
                        <input ng-model="order.description" class="form-control" type="text" placeholder="Số điện thoại">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Email</label>
                        <input ng-model="order.total" class="form-control" type="text" placeholder="example@email.com">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Địa chỉ</label>
                        <input ng-model="order.status" class="form-control" type="text" placeholder="Địa chỉ">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Địa chỉ</label>
                        <input class="form-control"  type="text" placeholder="Địa chỉ" />{{order.createDate | date: 'dd-MM-yyyy'}}
</div>
             
                </div>
            </div>
      
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Drinking cups</h6>
                    <div ng-repeat="item in cart.items" class="d-flex justify-content-between">
                        <p>{{item.name}}</p>
                          <p>{{cart.amount | number:2}} VNĐ</p>
                    </div>
            
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">35.000VNĐ</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>{{cart.amount + 35000 |number:2}} VNĐ</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                   
                    <button ng-click="order.puchase()" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>