<div class="signup-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6 offset-sm-1 offset-lg-3">        
          <div class="form-bg">
            <a href="#"><img src="/asset/img/img11.jpg" alt="logo" class="logo rounded-circle"></a>
            <h2>Sign up to see photos and videos from your friends.</h2>
            <form>

              <span class="option-br"></span>
              <div class="form-group">
                <input type="text" name="Full Name" ng-model="user.fullname" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="text" name="Username" ng-model="user.username" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email">
              </div>

              <div class="form-group">
                <input type="Password" name="Password" ng-model="user.password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="Password" name="RePassword" class="form-control" placeholder="RePassword">
              </div>
              <div class="form-group">
                <input type="text" name="Full Name" ng-model="user.address" class="form-control" placeholder="Địa chỉ">
              </div>
              <div class="form-group">
                <input type="text" name="Full Name" ng-model="user.phoneNumber" class="form-control" placeholder="Số điện thoại">
              </div>
              <div class="form-group">
                <button ng-click="register()" class="signup-btn">Signup</button>
              </div>
              <p class="term-policy">By signing up, you agree to our <a target="_blank" href="#" rel="noopener noreferrer">Terms</a> , <a target="_blank" href="#" rel="noopener noreferrer">Data Policy</a> and <a target="_blank" href="#" rel="noopener noreferrer">Cookies Policy</a>.</p>
            </form>
          </div>
          <div class="login-link form-bg">
            <p>Have a account? <a href="#">Log in</a></p>
          </div>
          <div class="get-app">
            <p>Get the app.</p>
            <a href="#"><img src="/asset/img/app5.jpg" width="110px" height=" 60px" alt="app"></a>
            <a href="#"><img src="/asset/img/app4.jpg" width="110px" height="50px" alt="app"></a>
          </div>        
        </div>
      </div>
    </div>
  </div>